    The content here is really sketchy'd-out still, still working on this.

    The changes being made on this site are informed by user research, see https://github.com/exercism/website/issues/14

Exercism = Exercise + Exorcism

<div class="jumbotron">
<h1>Exercism.io</h1>

</div>

<div class="row">
<div class="col-md-3 well">
**critically reading others' code** is important

"One particularly well-kept secret is that looking at someone's code with an eye towards finding ways of improving it can teach you more about writing readable code than receiving feedback on your own code."
</div>
<div class="col-md-3 well">
Doing this forces you to think about why you make the trade-offs that you do, what in the code you are reacting to, why you are reacting to it, and how you might improve it.

</div>
<div class="col-md-3 well">
There is rarely only one good solution to a problem. Asking questions and articulating your thoughts about these small problems can change your thinking about the issues you face in the code bases you work in on a day-to-day basis.

</div>
<div class="col-md-3 well">
By repeating this process you will:

1. Share while discussing how YOU solved the problem
2. Learn from others as you discover how they solved the same problem
3. Gain experience through repeated practice solving problems
</div>


</div>
<div class="row">
<div class="col-md-5">
## Complete Coding Exercises

- CHALLENGE - You are given coding exercise with detailed README and a testing suite. Complete the challenge in Test-Driven-Development fashion - Red-Green-Refactor! Do this on your own computer using your own tools.
- SUBMIT iterations of your code to the website via the command line. Each iteration of code you submit is viewable on the site, with a place to have a conversation next to it.
- EXCHANGE FEEDBACK with others who have submitted their code. Based on their comments, revise your code and resubmit.

<div class="well">
People usually spend 30-120 minutes passing the tests the first time, and often just as long refactoring and improving coding style. People often go through 3-9 revisions .
</div>

<img src="img/home-try-it.png">

<a href="http://exercism.io/conversations/1" class="btn btn-default">Example Exercise</a> (no example right now)

</div>
<div class="col-md-5">
## Get and Give Feedback

- After you're satisfied with a submission and you've submitted it, check out other peoples’ solutions
  - Someone else's solution may inspire you! Change your code, submit a revision, and let them know they helped!
  - If you're not sure why they used one thing over another, ask! They may have a good reason they'd be happy to share. Or, just as likely, they hadn't thought of the other option!
- Both constructive and supportive feedback are both valuable, try to give both. Everyone is here to get and give feedback, it's expected :)
- Join a community/group! You can get your friends and/or community to come together and review each others' code. You can also just make friends with strangers! [Can I find communities listed?]

<img src="img/conversation.jpg">

<a href="http://exercism.io/conversations/1" class="btn btn-default">Example Conversation</a>

</div>
<div class="col-md-2">
## Languages
<% data.languages.each do |lang| %>
- <%= lang %>
<% end %>
</div>
</div>


<!-- <div class="row">
# What does Exercism.io look/feel like? -->
<!-- <div class="col-md-6">
## Locally
Command line tool => go to exercise folder
Readme + tests; run the tests
TDD to write working code first draft
encourage them to submit this first draft for reference, knowing it’s raw and unrefactored and that’s expected! should we / do we suggest that?
Refactor the code (do we link to refactoring techniques already?)
submit the revision (!!)
(bonus! is there a command line shortcut to open the website to the exercise we’re working on? that’d be sweeeet)
</div> -->
<!-- <div class="col-md-6">
## Website & community interaction

</div> -->
<!-- </div> -->